@import "~bootstrap/scss/bootstrap";

$bg-main-color: rgb(245, 245, 245);
$color-main: rgb(220 38 38);
$title-color: rgb(220 38 38);
$sub-title-color: rgb(37, 99, 235);
$link-color: rgb(37, 99, 235);
$main-color-text: #000;
$sub-color-text: #fff;
$hover-color: rgb(37, 99, 235);

